.episodes-table {
  height: 98%;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  min-width: 60%;
  &-count {
    background: #ffffff;
    box-shadow: 2px 3px 5px grey;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &-content {
    overflow-y: auto;
    padding: 2rem 1rem;
    background: #ffffff;
    box-shadow: 2px 3px 5px grey;
    table {
      width: 100%;
      border-collapse: collapse;
      tr {
        height: 1.5rem;
        border-bottom: 2px solid rgb(198, 193, 193);
        &:nth-child(2n + 2) {
          background-color: #edeff0;
        }
        th {
          text-align: left;
        }
        td {
          text-align: left;
          &:first-child {
            cursor: pointer;
            color: #118cdc;
            padding: 0.4rem;
          }
        }
      }
    }
  }
  &-button {
    font-weight: 600;
    margin: 2rem 0;
    background-color: white;
    border: transparent;
    color: #118cdc;
    cursor: pointer;

    &:hover {
      color: #0b5a8e;
    }
  }
}
